<ion-header>
    <ion-title>
      My Personal info.
    </ion-title>
</ion-header>

<ion-content class="card=background-page">

  <ion-card>
    <img src="assets/profile.jpg"/>
    <div class="card-title">My name is "Roeland M. Rotairo"</div>
    <div class="card-subtitle">>From Brgy. Canal Carigara Leyte</div>
    <div class="card-subtitle">>3rd year college students from Eastern Visayas State Univesity, I took up my course of Bachelor of Science in information Tehnology. Im a proud member of LGBT community and Im a transwoman.</div>
  </ion-card>
</ion-content>
