<ion-header>
  
    <ion-title>
      Contacts
    </ion-title>
 
</ion-header>

<ion-content class="card=background-page">

  <ion-card>
    <img src="assets/phone.jpg"/>
    <div class="card-title">Mobile #:</div>
    <div class="card-subtitle">09510247931</div>
  </ion-card>

  <ion-card>
    <img src="assets/facebook.jpg"/>
    <div class="card-title">Facebook page:</div>
    <div class="card-subtitle">Kaye Macabenta Rotairo</div>
  </ion-card>

  <ion-card>
    <img src="assets/email.jpg"/>
    <div class="card-title">Gmail Account:</div>
    <div class="card-subtitle">roeland.rotairo@evsu.edu.ph</div>
  </ion-card>
</ion-content>
